#navBar {
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%
}

#navBar::shadow .paper-toolbar {
    height: 50px;
    margin: 0px;
    padding: 0px;
}

#drawerPanel {
    top:0px;
    height: 100%;
}

#default .submenu {
    position: relative;
    width: calc(100% - 20px);
    left: 20px;
    margin: 0px; 
    padding: 0px;
    color:aqua;
}

#options > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#options > div > .optionsBtn {
    width: 45%;
    margin-bottom: 2px;
    margin-bottom: 2vh;
}

#options > div > #feedbackBtn {
    width: 95%;
}

#progressBar {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    transition: opacity 1s linear;
    z-index: 5;
}

#mainContainer {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.hidden {
    display: none;
}

.transparent {
    pointer-events: none;
    opacity: 0;
}